<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hair_ku.Properties.Settings.ONLINE_HairkuDBConnectionString"
            connectionString="Data Source=hairku-database.ctexkzfzlisn.us-east-2.rds.amazonaws.com;Initial Catalog=HairkuDB;Persist Security Info=True;User ID=michaelvuolo;Password=Kirby320;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Hair_ku.Properties.Settings.LOCAL_HairkuDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Hair ku\backups\HairkuDB_backup.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>